.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.logo {
    margin-left: 100px;
}

.top-links {
    display: flex;
    gap: 16px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top {
    background-color: #1F2937;
}

.middle {
    display: flex;
    flex-flow: column wrap;
    align-items: baseline;
    padding: 100px;
}

img {
    width: 200px;
    height: 200px;
}

.rounded {
    border-style: solid;
    border-color:#3882F6;
    border-width: 2px;
    border-radius: 15px;
}

.title {
    text-align: center;
    margin: 40px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-left: 100px;
    margin-right: 100px;
}

.info {
    max-width: 200px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    margin-bottom: 40px;
}

.text {
    text-align: center;
}

.grey {
    background-color: #E5E7EB;
    padding: 40px;
}

.quote {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin-left: 300px;
}

.thor {
    text-align: right;
    margin-right: 400px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
    background-color: #3882F6;
    padding-left: 75px;
    padding-right: 75px;
}

button {
    background-color: #3882F6;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    padding: 25px;
}