.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.top-links {
    display: flex;
    gap: 16px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
}

.middle {
    display: flex;
    flex-flow: column wrap;
    align-items: baseline;
    padding: 100px;
}

img {
    width: 400px;
    height: 200px;
    display: flex;
}