.header {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    padding: 20px;
}

.top-links {
    display: flex;
    justify-content: flex-end;
}